<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Encoding Upload</title>
</head>
<body>
    <h1>Upload an Image for Face Encoding</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="submit" value="Upload">
    </form>

    {% if encodes %}
        <h2>Encodings:</h2>
        <pre>{{ encodes }}</pre>
        <h2>Output Image:</h2>
        <img src="{{ url_for('output_file', filename=output_image) }}" alt="Output Image" width="500px" height="500px">
    {% endif %}
</body>
</html>